/* ===========================
   CSS Reset
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ===========================
   Body
=========================== */

body{

    background:var(--bg-color);
    color:var(--dark-text);
    font-family:"Poppins",sans-serif;

    min-height:100vh;

}

/* ===========================
   App Container
=========================== */

#app{

    width:100%;
    max-width:900px;

    min-height:100vh;

    margin:0 auto;

    background:var(--bg-color);

    display:flex;
    flex-direction:column;

}

/* ===========================
   Header
=========================== */

header{

    padding:var(--spacing-lg);

    display:flex;
    flex-direction:column;

    gap:10px;

}

/* ===========================
   Main
=========================== */

main{

    flex:1;

    padding:var(--spacing-lg);

}

/* ===========================
   Footer
=========================== */

footer{

    margin-top:auto;

    padding:var(--spacing-md);

}